@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    
    <p>Hola generación Junio .NET</p>
    <p>Quisiera salir a las 3 hoy :D</p>
</main>