USE [master]
GO
/****** Object:  Database [LEscogidoProgramacionNCapasGJ]    Script Date: 6/22/2023 4:31:34 PM ******/
CREATE DATABASE [LEscogidoProgramacionNCapasGJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LEscogidoProgramacionNCapasGJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LEscogidoProgramacionNCapasGJ.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LEscogidoProgramacionNCapasGJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LEscogidoProgramacionNCapasGJ_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LEscogidoProgramacionNCapasGJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LEscogidoProgramacionNCapasGJ]
GO
/****** Object:  StoredProcedure [dbo].[GrupoGetByIdPlantel]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GrupoGetByIdPlantel]
@IdPlantel INT
AS
SELECT 
IdGrupo,
Nombre,
IdPlantel
FROM Grupo
WHERE IdPlantel = @IdPlantel
GO
/****** Object:  StoredProcedure [dbo].[MateriaAdd]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaAdd]
@Nombre VARCHAR(50),
@Creditos TINYINT,
@IdSemestre TINYINT

--DML
AS
 INSERT INTO Materia (Nombre,Creditos,IdSemestre) VALUES (@Nombre,@Creditos,@IdSemestre)
GO
/****** Object:  StoredProcedure [dbo].[MateriaGetAll]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaGetAll] --SELECT
AS
--DML
	SELECT [IdMateria]
      ,[Nombre]
      ,[Creditos]
	  ,IdSemestre
	FROM Materia
GO
/****** Object:  StoredProcedure [dbo].[MateriaGetById]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/

--DDL
CREATE PROCEDURE [dbo].[MateriaGetById] 
@IdMateria INT 
AS
SELECT M.[IdMateria]
      ,M.[Nombre] 
      ,M.[Creditos]
      ,M.[IdSemestre]
	  ,S.Nombre AS NombreSemestre
  FROM [Materia] AS M
  INNER JOIN Semestre AS S ON M.IdSemestre = S.IdSemestre
  WHERE IdMateria = @IdMateria --Condición
GO
/****** Object:  StoredProcedure [dbo].[MateriaUpdate]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaUpdate]
@IdMateria int,
@Nombre varchar(50),
@Creditos tinyint,
@IdSemestre tinyint
AS
UPDATE [dbo].[Materia]
   SET [Nombre] = @Nombre 
      ,[Creditos] = @Creditos 
      ,[IdSemestre] = @IdSemestre 
 WHERE IdMateria = @IdMateria

GO
/****** Object:  StoredProcedure [dbo].[PlantelGetAll]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PlantelGetAll]
AS
SELECT IdPlantel,Nombre FROM Plantel


GO
/****** Object:  StoredProcedure [dbo].[SemestreGetAll]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SemestreGetAll]
AS
SELECT 
IdSemestre,
Nombre
FROM
Semestre
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Grupo](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[IdPlantel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Creditos] [tinyint] NULL,
	[IdSemestre] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Plantel]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Plantel](
	[IdPlantel] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlantel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Semestre]    Script Date: 6/22/2023 4:31:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Semestre](
	[IdSemestre] [tinyint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSemestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [IdPlantel]) VALUES (1, N'A101', 1)
INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [IdPlantel]) VALUES (2, N'B101', 1)
INSERT [dbo].[Grupo] ([IdGrupo], [Nombre], [IdPlantel]) VALUES (3, N'C101', 1)
SET IDENTITY_INSERT [dbo].[Grupo] OFF
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Creditos], [IdSemestre]) VALUES (1, N'Historia', 5, 1)
INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Creditos], [IdSemestre]) VALUES (2, N'Programacion', 10, 1)
INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Creditos], [IdSemestre]) VALUES (3, N'Matematicas', 5, 1)
SET IDENTITY_INSERT [dbo].[Materia] OFF
SET IDENTITY_INSERT [dbo].[Plantel] ON 

INSERT [dbo].[Plantel] ([IdPlantel], [Nombre]) VALUES (1, N'Prepa Uno')
INSERT [dbo].[Plantel] ([IdPlantel], [Nombre]) VALUES (2, N'Prepa Dos')
INSERT [dbo].[Plantel] ([IdPlantel], [Nombre]) VALUES (3, N'Prepa Tres')
SET IDENTITY_INSERT [dbo].[Plantel] OFF
SET IDENTITY_INSERT [dbo].[Semestre] ON 

INSERT [dbo].[Semestre] ([IdSemestre], [Nombre]) VALUES (1, N'Primero')
INSERT [dbo].[Semestre] ([IdSemestre], [Nombre]) VALUES (2, N'Segundo')
INSERT [dbo].[Semestre] ([IdSemestre], [Nombre]) VALUES (3, N'Tercero')
SET IDENTITY_INSERT [dbo].[Semestre] OFF
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD FOREIGN KEY([IdPlantel])
REFERENCES [dbo].[Plantel] ([IdPlantel])
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD FOREIGN KEY([IdSemestre])
REFERENCES [dbo].[Semestre] ([IdSemestre])
GO
USE [master]
GO
